<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="script.js"></script>

    <!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
	<link rel="stylesheet" href="style.css">
</head>

<body ng-app="TicTacToe" ng-controller="Ctrl">
	<header>
		<h1>Tic Tac Toe</h1>
	</header>

	<div class="wrapper col-md-4 offset-md-4" ng-hide="isInit">
		<div class="container" >
			<p>Welcome to Tic Tac Toe! This is a multiplayer game. Fill in the following fields to begin!</p>
			<div class="col-md-8 offset-md-3">
				Players: <input class="input" type="text" ng-model="n"><span class="underline"></span><br>
	    		Grid Length: <input class="input" type="text" ng-model="m"><span class="underline"></span><br>
	    		Number to Win: <input class="input" type="text" ng-model="l"><span class="underline"></span><br>

	    		<button ng-click="start()">Let's Go!</button>
    		</div>
			
		</div>

	</div>

	<div class="gameview wrapper col-md-4 offset-md-4" ng-show="isInit && !isFin">
		<div class="container">

			<!--display turn-->
			<div class="display"><h3>It's Player {{turnCount % n + 1}}'s turn!<h3></div>

			<!--grid-->
			<div class="grid">

				<div class="row" ng-repeat="row in grid track by $index" ng-init="rowInd=$index"> 
					<div class="gridbox" ng-repeat="col in row.col track by $index" ng-init="colInd=$index" ng-click="turn(this, $parent.$index, $index)">
						<p class="content">{{grid[rowInd].col[colInd] | makeNonzero}}</p>
					</div>
				</div>

			</div>

			<!--error-->
			<div class="alert col-md-8 offset-md-1" ng-show="isTaken"><p>Sorry, that position is already occupied.</p></div>

		</div>
	</div>

	<div class="wrapper gameover col-md-4 offset-md-4" ng-show="isFin">
		<p id="end_message"></p>
		<button onclick="window.location.reload()">Play again</button>
	</div>
	
	<div class="footer">
		<!--<p>Images designed by Twitter from FlatIcon</p>-->
	</div>

</body>
</html>