<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="script.js"></script>

    <!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
	<link rel="stylesheet" href="style.css">
</head>

<body ng-app="TicTacToe" ng-controller="Ctrl">
	<header>
		<h1>Tic Tac Toe</h1>
	</header>

	<div class="container">
		<div id="intro" class="wrapper col-md-4 offset-md-4" ng-hide="isInit">
			<h3>Welcome to Tic Tac Toe!</h3>
			<p>Modify the fields below to customize your game:</p>
			<div>
				Players: <input class="input" type="text" ng-model="n"><span class="underline"></span><br>
	    		Grid Length: <input class="input" type="text" ng-model="m"><span class="underline"></span><br>
	    		Number to Win: <input class="input" type="text" ng-model="l"><span class="underline"></span><br>
    		</div>
    		<button ng-click="start()">Let's Go!</button>
			
		</div>

		<div id="gameview" class="wrapper" ng-show="isInit">
			<!--display turn-->
			<div class="display"><h3> <img ng-src="{{icons[currentPlayer-1]}}" style="height:30px"> It's Player {{currentPlayer}}'s turn! <img ng-src="{{icons[currentPlayer-1]}}" style="height:30px"></h3></div>

			<!--grid-->
			<div class="col-md-4 offset-md-4">
				<div class="row" ng-repeat="row in grid track by $index" ng-init="rowInd=$index"> 
					<div class="gridbox" ng-repeat="col in row track by $index" ng-init="colInd=$index" ng-click="turn($parent.$index, $index)">
						<img class="fruit" ng-src="{{grid[rowInd][colInd].img}}"/>
						<p class="content">{{grid[rowInd][colInd].player | makeNonzero}}</p>
					</div>
				</div>

			</div>

		</div>

		<div id="gameover" class="wrapper" ng-show="isFin" onclick="window.location.reload()">
				<h3 id="end_message"></h3>
				<p>Click to restart</p>
			</div>
		</div>

	</div>
		

	
	
	<div class="footer">
		<p>Images designed by Twitter from FlatIcon</p>
	</div>

</body>
</html>