html, body {
	background-color: #F1F1F1;
	font-family: "ubuntu", serif;
	overflow:hidden;
}

h1, h3, p {
	text-align:center;
}

header {
	background-color: white;
	padding: 1% 0 1% 0;
}

button {
	background-color: transparent;
	color: #353535;
	margin:0 auto;
	margin-top:20px;
    display:block;
	border-radius: 3px;
	border: 2px solid #353535;
}

.wrapper {
	padding: 2% 0 2% 0;
	border-radius: 5px;
	position:relative;
	display:block;
	vertical-align: middle;
	animation: slidein 1.5s forwards;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  text-align:center;
  width:50px;

  &:focus {
    outline: none;    
  }
  }

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  position: relative;
  left:-50px;
  top:8px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 50px;
}

.gridbox {
	display: inline-block;
	position: relative;
	border: black 3px solid;
	transition: background-color 1s;
}

div.gridbox:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* ratio of 1:1*/

}

div.gridbox:hover {
	background-color: #f29191;
}

.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.fruit{
	position:  absolute;
	top: 15%;
	left: 15%;
	bottom: 0;
	right: 0;
	max-width:70%;
	height:auto;
	width:auto;
}

#gameover {
	text-align: center;    
	position: relative;
	display:block;
    background-color:white;
    top: -50%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 2s;
}


@keyframes slidein {
	0% { left: 100%;}
    100% { left: 0; }
}

.footer {
	background-color: white;
	width:100%;
	position:fixed;
	bottom:0;
	padding: 1% 0 0 4%;
}

.footer p {
	text-align:left;
}